.tutorial {
    width: 600px;
    text-align: center;
    margin: auto;
    padding: 100px 0;
  }
  
  /* #summary{
    width : 800px; 
  } */
  article.media {
    flex-wrap: nowrap;
    height: 200px;
    overflow-y:hidden;
  }
  figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
    object-fit : cover; 
    
   
  }
  
  figure .image img {
    width: 128px;
    object-fit: cover;
  }

 
  .notification {
    margin-top: 20px !important;
  }
  .title.award {
    height: 72px; 

  }
  
  .results {
    max-height: 500px;
    overflow-y: scroll;
  }
  
  .title .icon {
    margin-left: 15px;
  }
  
  .hero {
    margin-bottom: 20px;
  }
  
  .forms {
    display: flex;
    justify-content: space-around;
  }
  
  .dropdown-item {
    display: flex;
    align-items: center;
    height: 60px;
  }
  
  .dropdown-item img {
    height: 50px;
    margin-right: 10px;
  }
.dropdown-content.results::-webkit-scrollbar {
    display: none; 

}  
.zeroPadding {
    padding :0; 
}